*,
*::before,
*::after {
    box-sizing: border-box;
}

.list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.container {
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    min-height: 100vh;

    background-image: linear-gradient(to right bottom, #c8e0e7, #80c6ee);

    font-family: sans-serif;
}

.gallery {
    padding: 50px 0;
}

.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.search-input-label {
    margin-right: 30px;

    font-size: 24px;
}

.search-input {
    width: 400px;
    margin-left: 15px;
    padding: 5px 10px;

    border: none;
    border-radius: 5px;

    font-size: 24px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.gallery-list > li {
    width: calc(100% / 4 - 30px);
    margin: 15px;
}

.photo-card-image {
    cursor: pointer;
}

.stats {
    display: flex;
    justify-content: space-evenly;

    background-color: #dcf0ff;
    border-radius: 0 0 5px 5px;

    color: #1995dd;
}

.stats-item {
    display: flex;
    align-items: center;

    > i {
        margin-right: 3px;
    }
}

.button {
    padding: 10px 20px;
    min-width: 150px;

    border: none;
    border-radius: 5px;
    background-color: #28a2e9;
    cursor: pointer;

    color: #fff;
    font-size: 16px;

    &:hover,
    &:focus {
        background-color: #1995dd;
    }
}

// .button.load-func {
//     margin-top: 30px;
// }

.observer-target {
    display: block;
}
